.register-container {
  width: 25%;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #e5eef5;
  border-radius: 8px;
  padding: 20px 30px;
}

.h1-register {
  text-align: center;
  font-weight: bold;
  margin: 0px 0 22px 0;
  font-size: 25px;
}

.label-register-form {
  color: #7f98ae;
  margin-bottom: 7px;
}

.span-register-form {
  color: red;
  margin-right: 5px;
}

.register-input {
  margin-bottom: 15px;
}

.register-form-btn {
  width: 100%;
  margin: 25px 0;
  background-color: #52d6ff;
  border: none;
  border-radius: 8px;
  color: #fff;
}

.register-form-btn:hover {
  background-color: #41b7db;
  border: none;
  color: #fff;
}
