.sider-container {
  background-color: #fff;
  border-right: 1px solid #e5eef5;
}

.sider {
  background-color: #fff;
}

.menu-sider {
  background-color: #fff;
  font-weight: bold;
}

.submenu-sider {
  background-color: #fff;
  padding: 1px 0px;
}
.submenu-sider:active {
  background-color: #fff;
  padding: 1px 0px;
}

.menu-item-sider {
  background-color: #fff;
  padding: 22px 0px 22px 48px;
}

.menu-link-sider {
  color: #000;
}
.menu-link-sider:hover {
  color: #389cfc;
}
